<p>
    This is a basic sidebar, for a menu/table of contents. You can see an
    example in this page.
</p>

<pre>
&lt;div class="sidebar-container"&gt;
    &lt;label for="toggle-sidebar"&gt;Mobile toggle for the sidebar&lt;/label&gt;
    &lt;input type="checkbox" id="toggle-sidebar"&gt;

    &lt;div class="sidebar"&gt;
        &lt;ul class="nav"&gt;
            &lt;li&gt;&lt;a href="#"&gt;Go to the top&lt;/a&gt;&lt;/li&gt;
            &lt;li class="section"&gt;Section&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="content"&gt;
        &lt;p&gt;Hello world!&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
