<p>This component provides styling for buttons:</p>

<a href="#button" class="button">Simple link</a>
<button class="button">Simple button</button>
<input class="button" type="submit" value="Simple input">

<pre>
&lt;a href="#" class="button"&gt;Button label&lt;/a&gt;
&lt;button class="button"&gt;Button label&lt;/button&gt;
&lt;input type="submit" value="Button label" class="button"&gt;
</pre>

<p>Buttons are available in multiple sizes:</p>

<button class="button button-big">Big button</button>
<button class="button button-large">Large button</button>
<button class="button button-normal">Normal button</button>
<button class="button button-small">Small button</button>

<pre>
&lt;button class="button button-big"&gt;Big button&lt;/button&gt;
&lt;button class="button button-large"&gt;Large button&lt;/button&gt;
&lt;button class="button button-normal"&gt;Normal button&lt;/button&gt;
&lt;button class="button button-small"&gt;Small button&lt;/button&gt;
</pre>
