<p>
    This is a basic navbar, with site title, and left and right items.
</p>

<div class="navbar">
    <div class="wrapper">
        <ul class="left">
            <li>Site name</li>
            <li><a href="#" class="active">Home page</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About me</a></li>
        </ul>
        <ul class="right">
            <li><a href="#">Source code</a>
        </ul>
    </div>
</div>

<pre>
&lt;div class="navbar"&gt;
    &lt;div class="wrapper"&gt;
        &lt;ul class="left"&gt;
            &lt;li&gt;Site name&lt;/li&gt;
            &lt;li&gt;&lt;a href="#" class="active"&gt;Home page&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Projects&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;About me&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;ul class="right"&gt;
            &lt;li&gt;&lt;a href="#"&gt;Source code&lt;/a&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>

You can also make the navbar sticky with the <code>sticky</code> class.
