<p>
    Inline lists are just <code>&lt;ul&gt;</code>s displayed inline:
</p>

<ul class="inline-list">
    <li>This is some text</li>
    <li><a href="#inline-lists">And that's a link!</a></li>
    <li>Hey</li>
</ul>
<ul class="inline-list">
    <li>I'm in the second row!</li>
</ul>

<p>
    They're useful for menus, footers, and other similar things. Sample code:
</p>

<pre>
&lt;ul class="inline-list"&gt;
    &lt;li&gt;First row&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="inline-list"&gt;
    &lt;li&gt;Second row&lt;/li&gt;
&lt;/ul&gt;
</pre>
